@import "../helper/variables";
@import "../helper/mixins";

///
/// Regular button classes
///
/// The :active must stand before the :disabled, as the button needs to stay disabled
///
.button {
    display: inline-block;
    font-size: 1.4rem;
    padding: 1.5rem;
    min-width: 17.5rem;
    text-align: center;
    cursor: pointer;
    color: $color-text;
    background-color: $color-light;
    border: 1px solid $color-dark-gray;
    touch-action: manipulation;
    vertical-align: middle;

    &.is-disabled,
    &:disabled {
        opacity: .25;
        cursor: not-allowed;
    }

    &:active,
    &:active:hover:not(:disabled):not(.is-disabled) {
        background-color: shade($color-medium, 10%);
    }

    &.is-disabled,
    &:disabled,
    &:hover {
        background-color: $color-medium;
    }
}

.button-primary {
    color: $color-text-inverted;
    background-color: $color-primary;
    border-color: $color-primary;

    &:active,
    &:active:hover:not(:disabled):not(.is-disabled) {
        color: $color-primary;
        background-color: tint($color-primary, 80%);
    }

    &.is-disabled,
    &:disabled,
    &:hover {
        color: $color-primary;
        background-color: $color-light;
    }
}

.button-add {
    color: $color-text-inverted;
    background-color: $fg-add;
    border-color: $fg-add;

    &:active,
    &:active:hover:not(:disabled):not(.is-disabled) {
        color: $fg-add;
        background-color: tint($fg-add, 80%);
    }

    &.is-disabled,
    &:disabled,
    &:hover {
        color: $fg-add;
        background-color: $color-light;
    }
}

.button-delete {
    color: $color-text-inverted;
    background-color: $fg-delete;
    border-color: $fg-delete;

    &:active,
    &:active:hover:not(:disabled):not(.is-disabled) {
        color: $fg-delete;
        background-color: tint($fg-delete, 80%);
    }

    &.is-disabled,
    &:disabled,
    &:hover {
        color: $fg-delete;
        background-color: $color-light;
    }
}
