@import "../helper/variables";
@import "../helper/mixin";

.button {
    display: inline-block;
    font-size: 1.4rem;
    padding: 1.5rem;
    min-width: 17.5rem;
    text-align: center;
    cursor: pointer;
    color: $color-text;
    background-color: $color-light;
    border: 1px solid $color-dark-gray;

    &.is-disabled,
    &[disabled] {
        opacity: .25;
        cursor: not-allowed;
    }

    &.is-disabled,
    &[disabled],
    &:hover {
        background-color: $color-medium;
    }
}

.button-primary {
    color: $color-text-inverted;
    background-color: $color-primary;
    border-color: $color-primary;

    &.is-disabled,
    &[disabled],
    &:hover {
        color: $color-primary;
        background-color: $color-light;
    }
}

.button-add {
    color: $color-text-inverted;
    background-color: $color-add;
    border-color: $color-add;

    &.is-disabled,
    &[disabled],
    &:hover {
        color: $color-add;
        background-color: $color-light;
    }
}

.button-delete {
    color: $color-text-inverted;
    background-color: $color-delete;
    border-color: $color-delete;

    &.is-disabled,
    &[disabled],
    &:hover {
        color: $color-delete;
        background-color: $color-light;
    }
}
