@import "../helper/variables";
@import "../helper/mixin";

.button {
    @include default-font;
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 1.5rem;
    min-width: 17.5rem;
    text-align: center;
    cursor: pointer;
    line-height: 1.2;
    color: $color-text;
    background-color: $color-light;
    border: 1px solid $color-dark-gray;

    &.mini {
        font-size: 1.1rem;
        padding: .8rem;
        min-width: 6.5rem;
    }

    &.small {
        font-size: 1.2rem;
        padding: 1.3rem;
        min-width: 10rem;
    }

    &.large {
        font-size: 1.6rem;
        padding: 2rem;
        min-width: 19rem;
    }

    &.disabled,
    &:disabled {
        opacity: .25;
        cursor: default;
    }

    &:hover:not([disabled]):not(.disabled) {
        background-color: $color-medium;
    }

    &:focus {
        outline: 0;
    }
}

.button-primary {
    color: $color-text-inverted;
    background-color: $color-primary;
    border: 1px solid $color-primary;

    &:hover:not([disabled]):not(.disabled) {
        color: $color-primary;
        background-color: $color-light;
    }
}

.button-add {
    color: $color-text-inverted;
    background-color: $color-add;
    border: 1px solid $color-add;

    &:hover:not([disabled]):not(.disabled) {
        color: $color-add;
        background-color: $color-light;
    }
}

.button-delete {
    color: $color-text-inverted;
    background-color: $color-delete;
    border: 1px solid $color-delete;

    &:hover:not([disabled]):not(.disabled) {
        color: $color-delete;
        background-color: $color-light;
    }
}

