// region Color palette
// Primary Colors
$color-primary: #1c57e1;
$color-light: #fff;
$color-medium: #f3f3f3;
$color-dark: #1e1b1b;

// Secondary Colors
$color-red: #f84135;
$color-green: #53d03c;
$color-dark-gray: #c6c5c5;
// endregion

// region App Colors
// Text
$color-text: $color-dark;
$color-text-inverted: $color-light;

// Background
$color-background: $color-light;
$color-background-sidebar: $color-medium;

// Action Colors
$fg-add: $color-green;
$fg-delete: $color-red;

// Status Colors
$fg-primary: $color-primary;
$bg-primary: #dde6fb;
$fg-success: $color-green;
$bg-success: #d4f3ce;
$fg-error: $color-red;
$bg-error: #fee2e1;
$fg-warning: #a37730;
$bg-warning: #fbebd0;
$fg-info: #7559a3;
$bg-info: #f1eef6;

// Main Navigation
$main-navigation-foreground: $color-text-inverted;
$main-navigation-background: $color-primary;
// endregion
