{% set classes = ["", "alert-success", "alert-warning", "alert-error"] %}

<div class="gluggi-variations">
    {% for class in classes %}
        <div class="alert {{ class }}">
            There's ({{ class }}) never a man looked me between the eyes and seen a good day a'terward. <a href="">when it is not for my advantage.</a>
            <button type="button" class="alert-close"></button>
        </div>
    {% endfor %}

    <div class="alert">
        There's never a man looked me between the eyes and seen a good day a'terward. <a href="">when it is not for my advantage.</a><br>
        There's never a man looked me between the eyes and seen a good day a'terward. <a href="">when it is not for my advantage.</a><br>
        There's never a man looked me between the eyes and seen a good day a'terward. <a href="">when it is not for my advantage.</a><br>
        There's never a man looked me between the eyes and seen a good day a'terward. <a href="">when it is not for my advantage.</a><br>
        <button type="button" class="alert-close"></button>
    </div>
</div>
