{% set classes = ["", "alert-info", "alert-success", "alert-warning", "alert-error"] %}

{% for class in classes %}
    <div class="alert {{ class }}">
        <button type="button" class="close">&times;</button>
        There's never a man looked me between the eyes and seen a good day a'terward. <a href="">when it is not for my advantage.</a>
    </div>
{% endfor %}

<div class="alert">
    <button type="button" class="close">&times;</button>
    Error! I am sorry to see you here, <strong>but if you had fought like a man</strong>, you needn't be hanged like a dog.<br>
    Error! I am sorry to see you here, <strong>but if you had fought like a man</strong>, you needn't be hanged like a dog.<br>
    Error! I am sorry to see you here, <strong>but if you had fought like a man</strong>, you needn't be hanged like a dog.<br>
    Error! I am sorry to see you here, <strong>but if you had fought like a man</strong>, you needn't be hanged like a dog.<br>
    Error! I am sorry to see you here, <strong>but if you had fought like a man</strong>, you needn't be hanged like a dog.
</div>

<div class="alert">
    <button type="button" class="close">&times;</button>
    Error! I am sorry to see you here, <strong>but if you had fought like a man</strong>, you needn't be hanged like a dog.
    Error! I am sorry to see you here, <strong>but if you had fought like a man</strong>, you needn't be hanged like a dog.
    Error! I am sorry to see you here, <strong>but if you had fought like a man</strong>, you needn't be hanged like a dog.
</div>
