<div class="gluggi-variations">
    <p>
        <svg class="loading-spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle cx="33" cy="33" r="30"></circle>
        </svg>

        <svg class="loading-spinner is-small" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle cx="33" cy="33" r="30"></circle>
        </svg>
    </p>

    <p>
        <button class="button button-primary button-loading">
            <svg class="loading-spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle cx="33" cy="33" r="30"></circle>
            </svg>
        </button>

        <button class="button button-primary">Hello</button>
    </p>
</div>
