@import "../helper/variables";

.button-loading {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .loading-spinner {
        height: 2.6rem;
        width: 2.6rem;
        display: block;
        margin: 0 auto;

        circle {
            stroke: currentColor;
        }
    }
}


